body{  
    font-family: 'Nunito Sans', sans-serif;  
      background-image: linear-gradient(rgb(0, 217, 255), rgb(0, 255, 106));   
      }
      #card{    background: white;   
       margin: 100px 300px 100px 300px;    
       text-align: center; 
          padding: 10px;
          }
          #card img{    
              width: 150px;
                  height: 150px;  
                    border-radius: 50%;
                    }      
                    hr{
                        width:400px;
                    
                    }
                    h1{
                        color:rgb(43, 226, 211);
                    }